<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2009 Friedrich Schäuffelhut
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.  
-->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.schaeuffelhut.android.openvpn"
	android:versionCode="24"
	android:versionName="0.4.9">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.BROADCAST_STICKY"/>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
	
	<supports-screens
 		android:smallScreens="true"
 		android:normalScreens="true"
 		android:largeScreens="true"
 		/>
		
	<application
		android:icon="@drawable/logo"
		android:label="@string/app_name">

		<activity
			android:name="OpenVpnSettings"
			android:label="@string/openvpn_settings_category">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="AdvancedSettings" 
			android:label="@string/advanced_settings_category"
			/>
		<activity
			android:name="EditConfig" 
			android:label="@string/edit_config_category"
			/>
		<activity
			android:name="EditConfigPreferences" 
			android:label="@string/edit_config_preferences_category"
			/>
		<activity
			android:name="EnterPassphrase" 
			android:label="@string/enter_passphrase_category"
			/>
		<activity
			android:name="EnterUserPassword" 
			android:label="@string/enter_user_password_category"
			/>

		<activity
			android:name="ImportFiles" 
			android:label="Import Files"
			/>
		
		<activity
			android:name=".tun.ShareTunActivity" 
			android:label="Share TUN Module"
			/>
		<activity
			android:name="ViewLogFile" 
			android:label="@string/view_log_file_category"
			/>
					
		<service
			android:name="de.schaeuffelhut.android.openvpn.service.OpenVpnService"
			android:label="@string/openvpn_service"
			android:exported="false"
			android:enabled="true"
			/>

		<receiver
			android:name="de.schaeuffelhut.android.openvpn.util.BootCompletedReceiver"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

	</application>

</manifest> 
